<h2>Documentation</h2>
<ul>
  <li>
    {{#secLink "/getting-started.html" . }}
      <span>Getting Started</span>
    {{/secLink}}
  </li>
  <li>
    {{#secLink "/peripherals.html" . }}
      <span>Peripherals</span>
    {{/secLink}}
  </li>
  <li>
    {{#secLink "/ccemux-api.html" . }}
      <span>The <code>ccemux</code> API</span>
    {{/secLink}}
  </li>
  <li>
    {{#secLink "/tips.html" . }}
      <span>Tips and tricks</span>
    {{/secLink}}
  </li>
  <li>
    {{#secLink "/cli.html" . }}
      <span>Command line arguments</span>
    {{/secLink}}
  </li>

</ul>
