<ul class="link-left">
  <li>
    {{#link "/" . }}
      <span>CCEmu<img src="/img/x.png" alt="X" /></span>
    {{/link}}
  </li>
  <li>
    {{#link "/getting-started.html" . }}
      <span>Docs</span>
    {{/link}}
  </li>
</ul>
<ul class="link-right">
  <li><a href="https://github.com/CCEmuX/CCEmuX"><span><span class="fa fa-github" aria-hidden="true"></span>GitHub</span></a></li>
</ul>
