{{#> layout
    title="The ccemux API | CCEmuX"
    description="All sorts of tips and tricks on using CCEmuX."
    url="/tips.html"
    groupUrl="/getting-started.html" }}
  <nav>{{> nav }}</nav>

  <div class="container navigable">
    <div class="content">
      <h1>Tips and Tricks</h1>
      <p>
        There's all sorts of small little things you can do with CCEmuX. Here's a couple of them!
      </p>

      <h2>{{#header "custom-rom" .}}A custom ROM{{/header}}</h2>
      <p>
        Like ComputerCraft, CCEmuX allows you to add to the rom, and even use your own <code>bios.lua</code>. In order
        to do this, open the data directory (<code>emu data</code>) and navigate
        to <code>assets/computercraft/lua</code>.
      </p>
      <p>
        Here, you can create a <code>rom</code> folder: any files within that will be added to every computer's own
        ROM. Likewise, you can also create your own <code>bios.lua</code> file, though obviously be careful with this!
      </p>

      <h2>{{#header "restor" .}}Session restoration{{/header}}</h2>
      <p>
        Every time you open your emulator, CCEmuX will open a computer with ID 0. This is fine most of the time, but
        sometimes you're working on something else! Thankfully, there's a config option to change this behaviour.
      </p>
      <p>
        Open the config editor (<code>emu config</code>) and look for a "Restore session" option. Turn this on, and
        whichever computer you were last using will be opened when next starting the emulator.
      </p>
    </div>
    <div class="navigable-sidebar">
      <div class="navigable-items">
        <h2>Contents</h2>
        <ul>{{headers . }}</ul>
        {{> docNav }}
      </div>
    </div>
  </div>
{{/layout}}
