@import "reset.scss";

$black:     #111111;
$red:       #cc4c4c;
$green:     #57a64e;
$brown:     #7f664c;
$blue:      #3366cc;
$purple:    #b266e5;
$cyan:      #4c99b2;
$lightgrey: #999999;
$grey:      #4c4c4c;
$pink:      #f2b2cc;
$lime:      #7fcc19;
$yellow:    #dede6c;
$lightblue: #99b2f2;
$magenta:   #e57fd8;
$orange:    #f2b233;
$white:     #f0f0f0;

@mixin link($normal, $hover) {
  a {
    &, &:visited, &:active { color: $normal; }
    &:hover { color: $hover; }
  }
}

body {
  // Use system fonts where possible
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
               "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
@include link($red, darken($red, 20%));

code, pre {
  // Use system fonts where possible
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.fa { margin: 0px 0.3em; }

.aria-hint { display: none; }

// Jumbotron header
header {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  position: relative;

  color: $white;
  background-color: $black;
  overflow: hidden;

  .header-image {
    background-color: rgba($black, 0.85);
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
    background-blend-mode: color;

    width: 100%;
    height: 100%;
  }

  .header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .header-tagline {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
  }

  h1 {
    font-size: 4em;
    color: $white;

    img { height: 1em; }
  }

  .download-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 1.1em;

    a {
      max-width: 400px;
      flex-basis: 90%;
      margin: 10px 20px;
      box-sizing: border-box;
      padding: 20px;

      text-align: center;

      background-color: $red;
    }

    a, a:visited, a:active, a:hover { color: white; }
    a:hover {
      background-color: darken($red, 2%);
      text-decoration: none;
    }
  }

  .download-help, .download-status {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .download-status {
    color: $lightgrey;
    font-size: 0.7em;
  }
}

nav {
  @mixin navbar($fore, $back) {
    background: $back;
    color: $fore;

    @include link($fore, darken($fore, 20%));
    a:hover { background: darken($back, 10%); }
    a.active { background: darken($back, 15%); }
  }

  width: 100%;
  height: 50px;
  font-size: 1.1em;

  @include navbar($white, lighten($black, 15%));

  // Reset some link styles
  a:hover, a:focus { text-decoration: none; }

  // Make images same height as text
  img { height: 1em; vertical-align: bottom; }

  ul, li, a { height: 100%; }
  ul { display: inline-block; }
  li, a { display: block; }
  li { float: left; }

  .link-left { float: left; }
  .link-right { float: right; }

  a {
    padding: 0px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &.bottom {
    border-top: 2px solid $black;
    @include navbar($black, $white);
  }
}

/* General */
.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0px auto;
}

.content {
  h1 { font-size: 1.8em; margin: 15px 0px; }
  h2 { font-size: 1.6em; margin: 1.2em 0 0.3em 0; }
  h3 { font-size: 1.4em; margin: 15px 0px;}
  h1, h2, h3, p, li, blockquote { line-height: 1.4em; }

  ul { margin-left: 1.5em; }
  li { list-style-type: disc; margin: 0.4em 0; }

  .header-link { vertical-align: top; }
  .header-link:focus { outline: none; background-color: $white; }
  .header-link + span { padding: 2px; }
  .header-link:target + span { background: $white; }

  blockquote {
    padding: 15px;
    background: $white;
    border-left: solid 5px $lightgrey;
  }
}

p, ul, blockquote, pre { .content & + & { margin-top: 10px; } }

.navigable {
  display: flex;
  justify-content: center;

  .navigable-sidebar {
    width: 200px;
    max-width: 200px;
    flex-shrink: 0;
    order: 1;

    h2 { font-size: 1.4em; margin: 15px 0px 5px 0px; }
    h2, li { line-height: 1.4em; }

    a.active { font-weight: bold; }
    .extra { display: none; }

    .navigable-items {
      position: sticky;
      top: 0px;
    }
  }

  .content {
    flex-grow: 1;
    order: 2;
    max-width: 800px;
  }
}

@media(max-width: 800px) {
  .navigable {
    flex-direction: column;
    justify-content: flex-start;

    .navigable-sidebar {
      order: 2;
      .navigable-items { position: static; }
    }

    .content { order: 1; }
  }
}


.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    max-width: 50%;
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 8em;

}

.feature-content {
    display: flex;

    p, img { margin: 5px; }

    img {
      max-height: 8em;
      flex-shrink: 0;
    }
}

@media(max-width: 800px) {
  .features {
    flex-direction: column;
    justify-content: flex-start;
  }

  .feature {
    max-width: 100%;
    flex-basis: 100%;
  }

  .feature-content {
    flex-direction: column;

    img {
      max-height: 200px;
      order: 2;
      align-self: center;
    }
  }
}

.article-img {
  display: block;
  max-height: 60vh;
  max-width: 90%;
  margin: 5px auto;
}
